<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Console Appender -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%c{1}] [%L] [%p] %m%n"/>
        </layout>
    </appender>

    <!-- CustomDailyRollingFileAppender -->
    <appender name="dailyout" class="com.darkkaiser.torrentad.util.log4j.CustomDailyRollingFileAppender">
        <param name="File" value="logs/dailyout.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyyMMdd"/>
        <param name="maxBackupIndex" value="30"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%c{1}] [%L] [%p] %m%n"/>
        </layout>
    </appender>

    <logger name="org.apache">
        <level value="warn"/>
    </logger>

    <root>
        <!-- ## Log Level : DEBUG > INFO > WARN > ERROR > FATAL ## -->
        <priority value="debug"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="dailyout"/>
    </root>
</log4j:configuration>
