<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="kr.co.darkkaiser.jv"
      android:versionCode="9"
      android:versionName="1.0.9">
    <application android:icon="@drawable/icon"
    	android:label="@string/app_name"
    	android:debuggable="true">
        <activity android:name=".JvActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".view.detail.JvDetailActivity">
		</activity>
		<activity android:name=".view.list.JvSearchListActivity"
				  android:configChanges="orientation|keyboard">
		</activity>
		<activity android:name=".view.option.OptionActivity">
		</activity>
	</application>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-sdk android:minSdkVersion="5"></uses-sdk>
</manifest>